$font-stack: Helvetica, sans-serif;
$primary-color: rgb(51, 51, 51);
$secondary-color: rgb(61, 34, 68);

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $secondary-color;
}

h1{
  font-size: 4px - 3;
}
/* above are variables making use of the $ as the way to call them 
*/